In [1]:
import pandas as pd
monte = pd.Series(['Graham Chapman','Jhon Cleese','Terry Gilliam','Eric Idle','Terry Jones','Michael Palin'])
monte.str.lower()

0    graham chapman
1       jhon cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [2]:
monte.str.upper()

0    GRAHAM CHAPMAN
1       JHON CLEESE
2     TERRY GILLIAM
3         ERIC IDLE
4       TERRY JONES
5     MICHAEL PALIN
dtype: object

In [3]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [4]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [5]:
monte.str.split()

0    [Graham, Chapman]
1       [Jhon, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [6]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     Jhon
2    Terry
3     Eric
4    Terry
5  Michael

In [7]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object