In [2]:
import numpy as np
import pandas as pd

rng = np.random.RandomState(42)
rng

RandomState(MT19937) at 0x24353156888

In [3]:
ser = pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [4]:
ser.sum()

2.811925491708157

In [5]:
ser.mean()

0.5623850983416314

In [6]:
df = pd.DataFrame({"A":rng.rand(5),"B":rng.rand(5)})
df

          A         B
0  0.155995  0.020584
1  0.058084  0.969910
2  0.866176  0.832443
3  0.601115  0.212339
4  0.708073  0.181825

In [7]:
df.mean()

A    0.477888
B    0.443420
dtype: float64

In [8]:
df.mean(axis=1)

0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64

In [9]:
del df

In [10]:
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
                   'data':range(6)},columns=['key','data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [11]:
df.groupby('key')

In [12]:
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [13]:
del rng

In [14]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
                   'data1':range(6),
                   'data2':rng.randint(0,10,6)},
                  columns=['key','data1','data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [15]:
df.groupby('key').aggregate(['min',np.median,np.max])

    data1             data2
      min median amax   min median amax
key
A       0    1.5    3     3    4.0    5
B       1    2.5    4     0    3.5    7
C       2    3.5    5     3    6.0    9

In [16]:
df.groupby('key').aggregate({'data1':'min',
                             'data2':'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [17]:
def filter_func(x):
    return x['data2'].std() > 4

print(df);print(df.groupby('key').std())
print(df.groupby('key').filter(filter_func))

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9
       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641
  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

### A组的标准差不大于4，被丢弃

In [18]:
df.groupby('key').transform(lambda x:x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [20]:
def norm_by_data2(x):
    # x是一个分组数据的DataFrame
    x['data1'] /= x['data2'].sum()
    return x
print(df);print(df.groupby('key').apply(norm_by_data2))

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9
  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9